<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TravelMate - Your Destination Is Here</title>
    <link rel="icon" href="images/logo.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="TravelMate project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/bootstrap4/bootstrap.min.css"
    />

    <link
      href="plugins/font-awesome-4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/OwlCarousel2-2.2.1/animate.css"
    />
    
    <link
      href="plugins/magnific-popup/magnific-popup.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/responsive.css" />
  </head>
  <body>
    <div class="super_container">
     

      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="header_container d-flex flex-row align-items-center justify-content-start"
              >
               
                <div class="logo_container">
                  <div class="logo">
                    <a href="/">
                    <div>TravelMate</div>
                    <div>Your Destination</div>
                    <div class="logo_image">
                      <img src="images/logo.png" alt="" />
                    </div>
                    </a>
                  </div>
                </div>

               
                <nav class="main_nav ml-auto">
                  <ul class="main_nav_list">
                    <li class="main_nav_item active"><a href="/">Home</a></li>
                    <li class="main_nav_item">
                      <a href="#foot">About us</a>
                    </li>

                    <li class="main_nav_item">
                      <a href="#foot">Contact</a>
                    </li>
                    <li class="main_nav_item">
                      <a href="/register">Day Planner</a>
                    </li>
                  </ul>
                </nav>
   <div class="search">
                  <form action="#" class="search_form">
                    <input
                      type="search"
                      name="search_input"
                      class="search_input ctrl_class"
                      required="required"
                      placeholder="Keyword"
                    />
                    <button
                      type="submit"
                      class="search_button ml-auto ctrl_class"
                    >
                      <img src="images/search.png" alt="" />
                    </button>
                  </form>
                </div>

               
                <div class="hamburger ml-auto">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    

      <div class="menu_container menu_mm">
        
        <div class="menu_close_container">
          <div class="menu_close"></div>
        </div>

        <div class="menu_inner menu_mm">
          <div class="menu menu_mm">
            <div class="menu_search_form_container">
              <form action="#" id="menu_search_form">
                <input type="search" class="menu_search_input menu_mm" />
                <button
                  id="menu_search_submit"
                  class="menu_search_submit"
                  type="submit"
                >
                  <img src="images/search_2.png" alt="" />
                </button>
              </form>
            </div>
            <ul class="menu_list menu_mm">
              <li class="menu_item menu_mm"><a href="/">Home</a></li>
              <li class="menu_item menu_mm">
                <a href="#foot">About us</a>
              </li>

              <li class="menu_item menu_mm"><a href="#foot">Contact-Us</a></li>
              <li class="menu_item menu_mm">
                <a href="/register">Day Planner</a>
              </li>
            </ul>

 
            <div class="menu_social_container menu_mm">
              <ul class="menu_social menu_mm">
                <li class="menu_social_item menu_mm">
                  <a href="#"
                    ><i class="fa fa-pinterest" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="menu_social_item menu_mm">
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="menu_social_item menu_mm">
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="menu_social_item menu_mm">
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="menu_social_item menu_mm">
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>

            <div class="menu_copyright menu_mm">
              <i
                style="width: 13px; font-size: 12px"
                class="fa fa-paper-plane"
                aria-hidden="true"
              ></i>
              TravelMate All rights reserved
            </div>
          </div>
        </div>
      </div>

      <div class="home">
        <div
          class="home_background"
          style="background-image: url(<%=bgImg%>)"
        ></div>
        <div class="home_content">
          <div class="home_content_inner">
            <div class="home_text_large_first">discover</div>
            <div class="home_text_small">Discover new worlds</div>
          </div>
        </div>
      </div>



      <div class="find">
     
        <div
          class="find_background parallax-window"
          data-parallax="scroll"
          data-image-src="images/find.jpg"
          data-speed="0.8"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="find_title text-center">
                Found Your Destination
              </div>
            </div>
            <div class="col-12">
              <div class="find_form_container">
                <form
                  action="/"
                  method="POST"
                  id="find_form"
                  class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap"
                >
                  <div class="find_item">
                    <input
                      type="text"
                      name="country"
                      class="destination find_input"
                      value=<%=country%>
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="popular">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title text-center">
                <h2>Top 10 Cities Of <%=country%></h2>
                
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col">
              <div
                class="popular_content d-flex flex-md-row flex-column flex-wrap align-items-md-center align-items-start justify-content-md-between justify-content-start"
              >
                <% for(i=0;i<imgs.length; i++){ %>
                <div class="popular_item">
                  
                    <img
                      src=<%=imgs[i]%>
                      alt="image by Egzon Bytyqi"
                    />
                    <div class="popular_item_content">
                      <div class="popular_item_title"><%=names[i]%></div>
                    </div>
                  
                </div>
                <% }%>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br /><br />
      <br /><br /><br /><br />

      
      <footer class="footer" id="foot">
        <div class="container">
          <div class="row">
           
            <div class="col-lg-4 footer_col">
              <div class="footer_about">

                <div class="logo_container">
                  <div class="logo">
                    <div>TravelMate</div>
                    <div>Your Tour Partner</div>
                    <div class="logo_image">
                      <img src="images/logo.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="footer_about_text">
                  Get tailor made day plans that include Our app allows you to choose your favorite hotels, 
                 sights, activities and restaurants and add them to your bucket list.
                </div>
                <div class="copyright">
                 
                  Copyright &copy;
                  <%= year %>
                  All rights reserved |
                  <i
                    style="width: 20px; font-size: 15px"
                    class="fa fa-paper-plane"
                    aria-hidden="true"
                  ></i>
                  <a href="#" target="_blank">TravelMate</a>
                 
                </div>
              </div>
            </div>

            
            <div class="col-lg-4 footer_col">
              <div class="footer_latest">
                <div class="footer_title">Menu</div>
                <div class="footer_latest_content">
                 
                  <div class="footer_latest_item foot_item">
                    <a style="cursor: pointer" href="#"> Home</a>
                  </div>
                  <div class="footer_latest_item foot_item">
                    <a style="cursor: pointer" href="#newsletter"> News</a>
                  </div>
                 
                  <div class="footer_latest_item foot_item">
                    <a style="cursor: pointer" href="#foot"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="col-lg-4 footer_col">
              <div class="tags footer_tags">
                <div class="footer_title">Contact Us</div>
                <div class="footer_about_text">
                  <i
                    style="width: 20px; font-size: 15px"
                    class="fa fa-map-marker"
                  >
                  </i>
                     TravelMate
                  15th Cross, Outer Ring Rd, JP Nagar Phase 6, Bengaluru, Karnataka Bengaluru-560078
              
                </div>
                <div class="footer_about_text">
                  <i style="width: 20px; font-size: 15px" class="fa fa-phone">
                  </i>
                  + 91-9999900000
                </div>
                <div class="footer_about_text">
                  <i
                    style="width: 20px; font-size: 15px"
                    class="fa fa-envelope"
                  >
                  </i>
                  travelmate@gmail.com
                </div>
                <div class="footer_about_text">
                  <ul>
                    <li class="menu_social_item">
                      <a href="#"
                        ><i
                          style="width: 20px; font-size: 18px"
                          class="fa fa-linkedin"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </li>
                    <li class="menu_social_item">
                      <a href="#"
                        ><i
                          style="width: 20px; font-size: 18px"
                          class="fa fa-twitter"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </li>
                    <li class="menu_social_item">
                      <a href="#"
                        ><i
                          style="width: 20px; font-size: 18px"
                          class="fa fa-instagram"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </li>
                    <li class="menu_social_item">
                      <a href="#"
                        ><i
                          style="width: 20px; font-size: 18px"
                          class="fa fa-facebook"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </li>
                    <li class="menu_social_item">
                      <a href="#"
                        ><i
                          style="width: 20px; font-size: 18px"
                          class="fa fa-youtube"
                          aria-hidden="true"
                        ></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="plugins/parallax-js-master/parallax.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
